* {
    margin: 0px;
    padding: 0px;
}

a,a:hover {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0px;
    margin-bottom: 10px;
}

body {
    font-family: font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:#444444; 
}

.wrapper {
    width: 960px;
    margin: 0px auto;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.fix:before, .fix:after {
    content: "";
    display: table;
}

.fix:after {
    clear: both;
}

.header-area {
    padding: 18px 0px;
}

.menu {
    margin-top: 4px;
}
.menu ul {
    
}

.menu ul li{
    list-style: none;
    display: inline-block;
}

.menu ul li a {
    display: block;
    font-size: 14px;
    padding: 12px 10px;
    text-transform: uppercase;
    color: black;
}

.menu ul li a:hover {
    background-color: #1BBC9B;
    color: #fff;
}

.banner-area {
    background: url(img/banner.jpg) no-repeat scroll center center /cover;
    height: 453px;
    text-align: center;
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.banner-cell {
    display: table-cell;
    vertical-align: middle;
}

.welcome-text {
    color: #fff;
    padding: 0px 100px;
}

.welcome-text h1 {
    color: #fff;
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 40px;
}

.welcome-text h1 span {
    font-weight: 700;
}

.welcome-text p {
    margin-bottom: 30px;
    font-size: 14px;
    margin-bottom: 30px;
}

.welcome-text a {
    display: inline-block;
    padding: 10px 10px;
    background-color: 1BBC9B;
    color: #fff;
}

.welcome-text i {
    display: block;
    padding: 30px;
    font-size: 50px;
    margin-top: 10px;
}

.protfolio-area {
    padding: 40px 0px;
}

.section-title {
    text-align: center;
    color: #444;
    margin-bottom: 37px;
}

.section-title h1 {
    font-size: 28px;
    font-weight: 400;
}

.section-title p {
    font-size: 14px;
    font-weight: 300;
}

.portfolio ul {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    margin-left: -15px;
}

.portfolio ul li{
    display: inline-block;
    list-style: none;
    background-color: #1BBC9B;
    padding: 8px 10px;
    margin-left: 15px;
}

.items {
    margin-left:-30px;
}

.img-1 {
    border-radius: 50%;
    overflow: hidden;
    height: 217px;
    width: 217px;
    margin-bottom: 30px;
    margin-left: 30px;
    position: relative;
}

.img-hover {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: scale(0);
    transition: all 0.5s ease 0.0s;
}

.img-hover:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #16a086;
    opacity: .75;
}

.img-hover * {
    position: relative;
    z-index: 2;
}

.img-hover a {
    height: 35px;
    width: 35px;
    display: inline-table;
    border-radius: 50%;
    position: relative;
    color: #fff;
    margin-top: 60px;
}

.img-hover a:before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    background-color: #444;
    opacity: .61;
    border-radius: 50%;
    content: "";
}

.img-hover a i {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 3;
}

.img-1:hover .img-hover {
    transform: scale(1);
}