* {
    margin: 0px;
    padding: 0px;
}

a,a:hover {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0px;
    margin-bottom: 10px;
}

body {
    font-family: font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:#444444; 
}

.wrapper {
    width: 960px;
    margin: 0px auto;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.fix:before, .fix:after {
    content: "";
    display: table;
}

.fix:after {
    clear: both;
}

.header-area {
    padding: 18px 0px;
}

.menu {
    margin-top: 4px;
}
.menu ul {
    
}

.menu ul li{
    list-style: none;
    display: inline-block;
}

.menu ul li a {
    display: block;
    font-size: 14px;
    padding: 12px 10px;
    text-transform: uppercase;
    color: black;
}

.menu ul li a:hover {
    background-color: #1BBC9B;
    color: #fff;
}

.banner-area {
    background: url(img/banner.jpg) no-repeat scroll center center /cover;
    height: 453px;
    text-align: center;
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.banner-cell {
    display: table-cell;
    vertical-align: middle;
}

.welcome-text {
    color: #fff;
    padding: 0px 100px;
}

.welcome-text h1 {
    color: #fff;
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 40px;
}

.welcome-text h1 span {
    font-weight: 700;
}

.welcome-text p {
    margin-bottom: 30px;
    font-size: 14px;
    margin-bottom: 30px;
}

.welcome-text a {
    display: inline-block;
    padding: 10px 10px;
    background-color: 1BBC9B;
    color: #fff;
}

.welcome-text i {
    display: block;
    padding: 30px;
    font-size: 50px;
    margin-top: 10px;
}

.protfolio-area {
    padding: 40px 0px;
}

.section-title {
    text-align: center;
    color: #444;
    margin-bottom: 37px;
}

.section-title h1 {
    font-size: 28px;
    font-weight: 400;
}

.section-title p {
    font-size: 14px;
    font-weight: 300;
}

.portfolio ul {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    margin-left: -15px;
}

.portfolio ul li{
    display: inline-block;
    list-style: none;
    background-color: #1BBC9B;
    padding: 8px 10px;
    margin-left: 15px;
}

.items {
    margin-left:-30px;
}

.img-1 {
    border-radius: 50%;
    overflow: hidden;
    height: 217px;
    width: 217px;
    margin-bottom: 30px;
    margin-left: 30px;
    position: relative;
}

.img-hover {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: scale(0);
    transition: all 0.5s ease 0.0s;
}

.img-hover:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #16a086;
    opacity: .75;
}

.img-hover * {
    position: relative;
    z-index: 2;
}

.img-hover a {
    height: 35px;
    width: 35px;
    display: inline-table;
    border-radius: 50%;
    position: relative;
    color: #fff;
    margin-top: 60px;
}

.img-hover a:before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    background-color: #444;
    opacity: .61;
    border-radius: 50%;
    content: "";
}

.img-hover a i {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 3;
}

.img-1:hover .img-hover {
    transform: scale(1);
}

.about-area {
    background-color: #16A086;
    padding: 40px 0px;
}

.member-list {
    
}

.m-img img {
    min-width: 100%;
}

.member {
    width: 280px;
    margin-left: 30px;;
}

.contact-area {
    padding: 30px;
}

.about-area .section-title{
    color: white;
}

.member {
    background: #fff;
}

.member h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.member h3 span {
    display: block;
    font-size: 14px;
    font-weight: 300;
}

.member p {
    padding: 5px;
    font-size: 14px;
}

.contact-area {
    background-color: #ECF0F1;
    margin-left: -30px;
    padding: 30px;
    color: #444;
    
}

.contact {
    margin-left: -30px;
}

.contact-form,.contact-list {
    width: 465px;
   margin-left: 30px;
}

.contact-form textarea {
    width: 95%;
    margin-top: 20px;
    padding: 5px 5px;
}

.contact-form input[type="text"] {
    width: 45%;
}

.contact-form input[type="text"] {
    margin-right: 10px;
    padding: 5px 5px;
}

.contact-form input[type="email"] {
    padding: 5px 5px;
    width: 200px;
}

.contact-form input[type="submit"] {
    background-color: 31BBC9B;
    border: none;
    display: block;
    padding: 7px 14px;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    float: right;
    margin-right: 5px;
}

.footer-area {
    background-color: #2D3E50;
    padding: 20px 10px;
}

.footer p {
    margin-top: 6px;
    color: #fff;
}

.footer-left {
    margin-top: 7px;
}

.footer a i {
    background-color: #1BBC9B;
    display: block;
    padding: 10px 13px;
    color: #fff;
    font-size: 20px;
}

.contact-list h6 {
    font-size: 15px;
    font-weight: 300;
}

.contact-list p.address {
    position: relative;
}

.contact-list p.address:before {
    content: "\f041";
    font-family: "FontAwesome";
    position: absolute;
    left: 0px;
    top: 0px;
}

.contact-list p.address span {
    padding-left: 20px;
    display: inline-block;
}

.contact-list p.phone {
    position: relative;
}

.contact-list p.phone:before {
    content: "\f095";
    font-family: "FontAwesome";
    position: absolute;
    left: 0px;
    top: 0px;
    
}

.contact-list p.phone {
    padding-left: 20px;
}

.contact-list p.fax {
    position: relative;
}

.contact-list p.fax:before {
    content: "\f02f";
    font-family: "FontAwesome";
    position: absolute;
    left: 0px;
    top: 0px;
    
}

.contact-list p.fax {
    padding-left: 20px;
}


.contact-list p.mail{
    position: relative;
}

.contact-list p.mail:before {
    content: "\f0e0";
    font-family: "FontAwesome";
    position: absolute;
    left: 0px;
    top: 0px;
    
}

.contact-list p.mail {
    padding-left: 20px;
}

